name: Build
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Tests
        run: ./mvnw -B -ntp clean verify

  build-docker-image:
    name: Build Docker Image
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: "ubuntu-24.04"
            platform: "linux/amd64"
            file-name: "amd64"
          - os: "ubuntu-24.04-arm"
            platform: "linux/arm64"
            file-name: "arm64"
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Stop default Docker Daemon
        shell: bash
        run: sudo systemctl stop docker.service

      - name: Setup Docker
        shell: bash
        env:
          DOCKER_VERSION: "29.2.1"
          DISTRO: "ubuntu.24.04~noble"
        run: |
          sudo apt update
          sudo apt install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
          EOF

          sudo apt update

          VERSION_STRING=5:${{ env.DOCKER_VERSION }}-1~${{ env.DISTRO }}
          sudo apt install docker-ce=$VERSION_STRING docker-ce-cli=$VERSION_STRING containerd.io docker-buildx-plugin docker-compose-plugin

          sudo systemctl status docker

      - name: List Docker Contexts
        shell: bash
        run: docker context ls

      - name: Docker Info
        shell: bash
        run: docker info

      - name: Print DOCKER_HOST
        shell: bash
        run: echo $DOCKER_HOST

      - name: Build Docker Image
        shell: bash
        run: ./mvnw -B -ntp -DskipTests spring-boot:build-image "-Dimage.platform=${{ matrix.platform }}"
